@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  /*  */
  --border-radius: 0.4rem;

  /* Primary */
  --bright-blue: hsl(220, 98%, 61%);
  --check-bg: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  /* Light Theme */
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);

  /* Dark Theme */
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue-dark: hsl(234, 39%, 85%);
  --light-grayish-blue-hover: hsl(236, 33%, 92%);
  --dark-grayish-blue-dark: hsl(234, 11%, 52%);
  --very-dark-grayish-blue-dark: hsl(233, 14%, 35%);
  --very-dark-grayish-blue-darker: hsl(237, 14%, 26%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  font-size: 18px;
  font-weight: 400;
  color: var(--dark-grayish-blue);
  height: 100vh;
  background-color: var(--very-light-grayish-blue);
}
.background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100vh;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
button#toggleTheme {
  background: none;
  border: none;
  cursor: pointer;
}
h1 {
  position: relative;
  top: 5px;
  letter-spacing: 0.5rem;
  font-weight: 700;
  color: var(--very-light-gray);
}
.container {
  padding: 2.5rem 1.5rem;
  display: flex;
  gap: 2.5rem;
  flex-direction: column;
}
main {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
form.todo-input {
  height: 3.5rem;
  display: flex;
  gap: 0.5rem;
  background-color: var(--very-light-gray);
  padding: 0.8rem 1.3rem;
  border-radius: var(--border-radius);
  align-items: center;
}
form span.round {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid var(--light-grayish-blue);
}
form #newTodo {
  border: none;
  background-color: var(--very-light-gray);
  font-size: 18px;
  flex: 1;
  color: var(--dark-grayish-blue);
}
section.list-container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  background-color: var(--light-grayish-blue);
  border-radius: var(--border-radius);
  overflow: hidden;
}
ul#todoList{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

ul#todoList li{
  display: flex;
  height: 3.5rem;
  background-color: var(--very-light-gray);
  padding: 0.8rem 1.3rem;
  justify-content: space-between;
  align-items: center;
}

div.li-text{
  display: flex;
  align-items: end;
  gap: 0.5rem;
  color: var(--dark-grayish-blue);
  font-weight: 700;
}
div.li-text>span.round {
  align-self: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid var(--light-grayish-blue);
}
li.todo-item>button{
  background-color: var(--very-light-gray);
  border: none;
}
div.footer-list {
  font-size: 15px;
  width: 100%;
  display: flex;
  height: 3.5rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--very-light-gray);
  padding: 0.8rem 1.3rem;
}

div.footer-list button{
  color: var(--dark-grayish-blue);
  background: none;
  border: none;
  font-size: 15px;
}

section.buttons {
  display: flex;
  height: 3.5rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  background-color: var(--very-light-gray);
  border-radius: var(--border-radius);
}
section.buttons button {
  color: var(--dark-grayish-blue);
  background: none;
  border: none;
  font-size: 18px;
  font-weight: 700;

}

p.message-drag {
  align-self: center;
}
